
:root{
  --text-primary:#060606;
  --bgPrimary:#FFFFFF;
 --bgSecondary:linear-gradient(
  180deg,
  rgba(221, 211, 231, 0.8),
  rgba(200, 178, 222, 0.8)
);
--maincolor:linear-gradient(
  180deg,
  rgba(103, 117, 219, 0.8),
  rgba(200, 178, 222, 0.8),
  rgba(255, 212, 255,1)
);
 --bgthrid:black;
 --pink: #0071bd;
 --light-blue: #e6f7ff;
 --border: #d9d9d9;
}
::-webkit-scrollbar{
  width: 8px;
  

}
::-webkit-scrollbar-track{
  background:  rgba(200, 178, 222, 0.2);
  border-radius: 4px !important;
}
::-webkit-scrollbar-thumb{
  background: rgba(200, 178, 222, 0.6);
  border-radius: 4px !important;
  height:80px !important;
}

* {
  background: var(--bgPrimary) ; 
  margin: 0;
  box-sizing: border-box;
  color:var(--text-primary);
  font-family:  '-apple-system', sans-serif !important;
  

}
.MothionShape{
  background: black !important;
  canvas{
    background: black !important;
  }
}
body{
  
 height: 100vh;
 min-height:100vh ; 
 padding: 0 ;
 margin: 0;
 box-sizing: border-box;
 
}
.background{
  background: none !important;
}

a:hover{
  color: none !important;
 
}


.app{
  /*display: flex;*/
  overflow: hidden;
 /* background-color:
  var(--bgPrimary);*/
 
 
}

.navbar{
  /*flex: 0.1;*/
  height: 72px;
  padding:0px  !important;
  background-color: var(--bgPrimary);
  color: var(--text-primary) !important;
 
 

}


.main{
   /*flex: 0.9;*/ 
  width: 100%;
  padding:0px 24px !important;
 
  
}
.routes{
 padding-bottom: 120px !important;
 
}
.nav-container{
  position: absolute !important;
  display: flex;
  z-index: 200;
  width: 100%;
  padding: 16px 24px;
  /* text-align: center; */
  justify-content: space-between;
  height: 65px;
  margin: 0px;


  

}
.LoaderStyle{
  position: relative;
  background:inherit !important;
  height: 100px !important;
  width: 100vw;
  margin: 64px;
 
  
  
}

.HeaderSectionLoading{
  position: relative !important;
  width: 500px !important;
  background:none !important;
  height: inherit!important;
 display: flex !important;
 justify-content: center !important;
 
  
}
.ant-spin-dot-item {
  background: var(--bgSecondary) !important;
  width: 40px !important;
  height: 40px !important;

 
}
.ant-spin-dot{
  width: 80px !important;
  height:80px !important;
}
.sticky{
  position: fixed !important;
  top: 0;
  box-shadow: -3px 4px 6px -3px rgba(0, 0, 0, 0.06);
}

.logo-container{
  position: relative;
  display: flex;
  /*padding: 20px;*/
  align-items: center;
  width: 250px;
  float: left;
}

.ant-menu{
  width: 80%;
  padding-right: 0px;
  background-color: var(--bgPrimary);
  font-weight: 550;
 
}
.ant-menu-item{
  padding-left: 8px !important;
}


.ant-menu-item-selected{
 background: var(--bgPrimary) !important;
  border-radius: 10px !important;
  color: var(--bgPrimary) !important;
 
}
.ant-menu-item-selected>.ant-menu-title-content{
  background: var(--bgSecondary) !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip:text !important;

  font-weight: 900;
}
.ant-menu-title-content{
  background: none !important; 
  color: #24223e !important;
  opacity: 90% !important;
  
}
.ant-menu-submenu-selected:hover,
.ant-menu-submenu-selected{
  background: none !important;
}
.ant-menu-horizontal::after {
  background: rgba(221, 211, 231, 0.8) !important;
  border: 4px !important;
}
.anticon,.anticon-fund,.ant-menu-item-icon{
  background: none !important;
  svg{
    background: inherit;
  }
}


.news-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.logo{
  margin:0 0 0 15px;
 
}
.logo {
 color:var(--bgSecondary) !important;
}
.menu-control-container{
  display: none !important;
  position: absolute !important;
  right: 10px !important;
  top: 25px !important;
  font-size: 16px;
  background-color: none !important;
  border: none !important;

}


.logButton{
  position: relative;
  background: none;
  padding: 0px !important;
  margin: 0px;
  border-color:linear-gradient(
    180deg,
    rgba(103, 117, 219, 0.8),
    rgba(200, 178, 222, 0.8),
    rgba(255, 212, 255,1)
  );
  border-radius:50% !important;
  width: 48px;
  height: 48px;
  color:white;
  box-shadow: 3px  3px 5px rgb(0, 0, 0,.06);
  svg{
    stroke:  rgba(200, 178, 222, 0.8) !important;
    background: none;
  }
  
  /* box-shadow: 3px  3px 7px rgb(0, 0, 0,.25);
  backdrop-filter: blur(5px); */
  

}
.logo-style{
  width:164px;
  height: 65px;
  color:  rgba(200, 178, 222, 0.8) !important;
  background: none;

}
.logButton::after{
content: "";
 pointer-events: none;
  z-index: 1;
  position: absolute;
  inset: 0;
  border-radius:50% !important;
  padding: 3px; 
  background:linear-gradient(
    180deg,
    rgba(103, 117, 219, 0.8),
    rgba(200, 178, 222, 0.8),
    rgba(255, 212, 255,1)
  );; 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.textLog{
  background:none;
  color:white !important;
  font-size: 16px !important;
  font-weight: bold;
  border: none !important;
  text-decoration: none !important;

}


.loaderStyle{
  position: relative;
  width: 100vw;
  padding: 32px;
}
.sub-navbar{
  width: 48%;
  display: flex;
  justify-content: flex-end;
  

}
.HeaderSection{
  background: none;
  width: 100%;
  height: 580px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
 
}
.HeaderSectionNote,
.HeaderSectionNote1,
.HeaderSectionNote2
{
  background: none;
  position: absolute;
}
.HeaderSectionNote{
  bottom: -8px;
  right: 24px;
}
.HeaderSectionNote1{
  display: flex;
  justify-content: center;
  align-items: center;
  top:-8px;
  left:-8px;
  width: 388px;
  z-index: 100;
}
.HeaderSectionNote2{
  bottom: 16px;
  left: 8px;
}
.HeaderSectionSpan{
  color: white !important;
  font-size: 20px;
}
.note,
.note1,
.note,
.note4{
  background: none;
  color: white;
  margin: 0px;
  
  
}
.note,
.note1,
.note{
  font-size: 12px;
}
.note4{
  opacity: 20%;
  font-size: 14px;
}
.note{
  
  opacity: 4%;

}
.note2{
  opacity: .1%;
}
.note3{
  opacity: 2%;
}
.note1{
  margin: 4px;
  font-size: 10px;
  opacity: 30%;
  padding: 4px !important;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(255, 255, 255,.5);

}

.slide1,
.slide2,
.slide3{
  position: absolute;
  top:216px;
}
.slide1{
  
 right:550px;
}
.slide2{
  right:-570px
}
.dShapeContainer{
  background:none;
  height:inherit;
 }
 
.animation-completed{
  span{
    color: var(--bgPrimary);
  }
}
.animation-completed{
  width: 800px;
}
.animation-completed2{
  width: 600px;
}
.mainHeader{
  background-color: black !important;
  width:97vw;
  height: 532px;
  border-radius: 20px;
  padding: 16px ;
  box-shadow: 1px 1px 8px 1px  rgba(200, 178, 222, 0.6) !important;
  
}
.mainHeaderContainer{
  background:black ;
  position:relative;
  height:500px;
}

.headerTitle{
  font-size: 72px;
 color:#fff;
 opacity: 95%;
 z-index: 100;
  font-weight: 650;
  background: none;
}
.title-headerSection{
  background: var(--bgSecondary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.dotBackground{
  background-color: #e5e5f7;
  opacity: 0.6;
  background-image: radial-gradient(#c4c4c7 2px, #e5e5f7 2px);
  background-size: 40px 40px;
}

.HeaderRight{
  padding-top: 60px;

}
.showMore-container{
  display: grid;
  justify-content: center;
  align-items: center;
}
.show-more{
  background: var(--bgSecondary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
  font-size: 16px;
  font-weight: 600;
  
 
}
.ROW-title{
  width: 1000px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.textAnimation,
.textAnimation2{
  display: grid;
  justify-content: center;
  align-items: center;

}
.textAnimation{
  width: 1000px;
}
.textAnimation2{
  width: 700px;
}
.row-title-container,
.row-title-container-page{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.row-title-container-page{
  margin-top:24px;
  margin-bottom:48px;
}
.home-heading-container{
  padding-top:16px ;

}
.home-heading-container-page{
  padding-top:80px ;
}
.title-container{
  position: relative;
  width: 100%;
  
  
  


}
.title-container::after{
    content: "";
    position: absolute;
    width: 15%;
    height: 6px;
    margin-top: 16px;
    background: var(--bgSecondary);
    border-radius: 4px;
    box-sizing: border-box;
    
  
}


.home-title,
.home-title-page,
.home-title-page2,
.home-title-page3{
  color:#24223e!important;
  opacity: 90%;
  font-weight: 550;
  padding: 0px !important;
  margin: 0px !important;
}
.home-title{
  font-size: 32px;
 
}
.home-title-page,
.home-title-page2,
.home-title-page3{
 font-size:64px;
}
.home-title-page{
  width:740px;
}
.home-title-page2{
  width:600px;
}
.home-title-page3{
  width:800px;
  color:#24223e!important;
  opacity: 90%;
}
.sub-title{
  color:#24223e!important;
  padding-top:  40px;
  padding-bottom:  8px;
  font-size: 16px;
  opacity: 60%;
  font-weight: 300;
}
.page-sub-title{
  color:#24223e!important;
  padding-top: 40px;
  padding-bottom:  8px;
  font-size: 20px;
  opacity: 50%;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items:start;
}
.second-title{
  color: #24223e;
  opacity: 90%;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px !important;
}
.second-sub-title{
  color:#24223e!important;
  opacity: 50%;
  font-size: 16px;
  padding: 16px 0px;
  font-weight: 300;
}


@media screen and (max-width:1300px){
  
  .mainHeader{
    width: 96vw;
  }
  .headerTitle{
    font-size: 20vh;
    font-weight: 700;
  }
}

@media screen and (max-width:1170px){
  .headerTitle{
    font-size: 5vw;
    font-weight: 700;
  }
}

@media screen and (max-width:1000px){
  .headerTitle{
    font-size: 4vw;
    font-weight: 700;

  }
}

@media screen and (max-width:800px){
  .app{
      flex-direction: column;
      overflow: hidden;
  }

  .navbar{
    position: relative;
     display: flex;
     padding: 0px 16px !important;

  }

  .main{
      flex: 1;
      padding: 0px 16px !important;
      margin-top: 45px;
      margin-left: 0px;
      margin-right: 10px;
  }

  .nav-container{
   
      height: 65px;
      top: 0;
      left: 0 !important;
      z-index: 100;
      padding: 0px 0px 0px 16px !important;
      background-color: var(--bgPrimary);
     color: var(--text-primary);
    
 

  }
  .ant-menu-item{
    left: 0;
    width: 100%;
    height: 48px !important;
    border-radius: 10px !important;
    border-collapse: collapse;
    border-color: rgba(200, 178, 222,.08);
    border-style: solid;
    box-shadow: 3px  3px 3px rgb(0, 0, 0,.04) !important;
   
  }
  .logo-container{
    width: 140px;
    height: 65px;
    

  }
  .sticky {
    position: fixed;
    top: 0;
  }
  .ant-spin-dot{
    width: 40px !important;
    height:40px !important;
  }
  .ant-spin-dot-item {
    
    width: 16px !important;
    height: 16px !important;
  
   
  }

  .menu-control-container{
      display: block !important;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50% !important;
      padding: 0px;
     margin: 0px;
      float: left;
      top:16px !important;
      right: 16px !important;
      box-shadow: 3px  3px 3px rgb(0, 0, 0,.04) !important;
  }
  .menu-control-container::after{
  content: "";
 pointer-events: none;
  z-index: 1;
  position: absolute;
  inset: 0;
  border-radius:50% !important;
  padding: 3px; 
  background:linear-gradient(
    180deg,
    rgba(103, 117, 219, 0.6),
    rgba(200, 178, 222, 0.6),
    rgba(255, 212, 255,.6)
  );; 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;} 
  
 .menu-show{
  left: 0;
  display:block !important;
  width: 100vw;
  height:200vw;
  position: absolute;
  z-index: 1;
 }
 .ant-menu-title-content{
   background: var(--bgSecondary) !important;
   -webkit-text-fill-color: transparent !important;
   -webkit-background-clip:text !important;
   font-weight: 600;
 }
 .menu-fade{
  display: none !important;
 }
  .ant-menu{
    width: inherit;
    height: 60%;
     display: block;
    flex-direction: column;
    flex-wrap: wrap;
     
  }
  .mainHeader{
    width:95vw;
    border-radius: 8px;
    padding: 16px;
  }
  .mainHeaderContainer{
    height: 100%;
  }
  .HeaderSectionNote1 {
    width: 100%;
    margin-bottom: 8px;
  }
  .HeaderSectionNote2{
   display: none;
  }
  .note1 {
    font-size: 7px;
    
  }
  .slide1{
    top: 16px !important;
    right: 675px !important;
    width: inherit;
  }
  .slide2{
    top: 0px !important;
    right:-580px !important;
    width: inherit;
  }
  .headerTitle {
    font-size: 14vw !important;
    font-weight: 550 !important;
    text-align: center;
  }
  .iconcolor{
    font-size:20px ;
    font-weight: 700;
    svg{
      fill: rgb(198, 175, 219,.8)!important;
    }
    
    
  }

  .dShapeContainer{
    background: none !important;
    height:60% !important;
  }
  .HeaderSectioncol2{
    height: 20vh;
  }
  .HeaderSectioncol1{
    height: 20vh;
  }
  .MothionShape{
    background: none; 
   
  }

  .close-button{
    color: black;
    float: left;
    padding: 16px;
    width: 48px !important;
    height: 48px !important;
  }

  .home-title{
      font-size: 20px !important;
     

  }
  .show-more{
      font-size: 12px !important;
      font-weight: 400;
  }
  .show-type2{
    margin:0px -16px 0px -16px !important;
  }
  .sub-title{
    padding-top: 24px;
    font-size: 12px;
    font-weight: 300;
  }
  .page-sub-title{
    width:100vw!important;
  text-align: center;
    font-size: 2.5vw;
    font-weight: 200;
    padding-top:32px;
    margin:0px;
  }
  .animation-completed {
    margin-bottom: 0px !important;
  }
  .ROW-title{
    width:100% !important;
  }
  .home-title-page,
  .home-title-page2,
  .home-title-page3{
   
    font-size: 8vw;
    width:90vw !important;
    font-weight: 750;
  }
  .textAnimation {
    width:100vw !important;
  }
  .animation-completed,
  .animation-completed2{
    width: 100vw;
  }
  .home-heading-container-page{
    padding-top: 8px;
  }
  .row-title-container-page{
    margin-top:0px;
    margin-bottom:32px;
  }
  .second-title{
    font-size: 16px;
    margin-bottom: 4px !important;
  }
  .second-sub-title {
    font-size: 12px;
    padding: 12px 0px;
    font-weight: 200;
  }
  .table-container {
    margin-top: 24px !important;
  }
  .BtnCart{
    padding: 0px !important;
    font-size: 12px !important;
    border: 0px !important;
  }
  .filter-container {
  
    margin:  8px 0px!important;
  }
  .ant-select-selection-item {
    font-size: 12px !important;
    font-weight: 200 !important;
    width: 96px !important;
    
  }
  .ant-select-arrow .anticon{
    svg{
      font-size: 16px;
    }
  }
  .anticon.filericon {
   svg{
      font-size: 16px !important;
   }
    
  }
  
  .cart-show-type {
    padding-left: 0px !important;
  }
  .Breadcrumb-style{
    font-size: 12px !important;
  }
}





.link-name{
  text-transform: capitalize;
  font-size: 1rem;
}


@media screen and (max-width:1000px){
  .stats-container{
      flex-direction: column;
  }
  .coin-desc-link{
      flex-direction: column;
  }
  .stats-container h2{
      margin-top: 0px;
  }
}

@media screen and (max-width: 500px){
  .coin-links{
      padding: 0px;
  }
  .coin-detail-container{
      margin: 0;
  }
}
@media screen and (max-width: 500px){
  .heading{
      margin-top: 20px;
  }
}


.provider-container{
  display: flex;
  justify-content: space-between;
}
.provider-name{
  margin-left: 10px !important;
}
.show-type,.show-type2{
  background: none !important;
  padding:  12px;
  padding-left: 16px;
  width: 100vw;
  margin:0px -32px 16px -32px;
  box-shadow:  -3px 4px 6px -3px rgba(0,0,0,0.06);
  
}
.show-type{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.show-type2{
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
}
.filter-container{
  position: absolute;
 top: 0;
}
.BtnCart{
  padding: 0px 4px;
  margin: 0px !important;
  font-size: 16px;
  font-weight: 400;
  color: #414141 !important;
  opacity: 60%;
  background: none !important;
  width: 80px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;


}
.filericon{
  padding: 4px;
  svg{
    font-size: 20px !important;
    color: #414141;
    opacity: 60%;
  }

}

.cart-show-type{
  background: none !important;
  padding-left: 8px;
  justify-content: center;
  align-self: center;
}
.ant-table-wrapper,
.ant-spin-nested-loading ,
.ant-spin-container,.ant-table-container{
  border-radius: 15px !important;
  background: none !important;
  
}
.ant-table-wrapper .ant-table{
  scrollbar-color: unset;
  
}
.ant-card .ant-card-head{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.ant-card-head-title,.ant-card-head-wrapper,.table-container{
  background: none !important;
}
.ant-table-header>tr>th{
 /* background: var(--bgSecondary);*/
  opacity: 40%;
}
.table-container{
  margin-top: 32px;
 
}
.ant-table{
  background: none;
  position: relative;
  border: none;
  box-shadow: 1px 1px 8px 1px  rgba(200, 178, 222, 0.6) !important;
 
  
  
}
.ant-table-measure-row{
  overflow: hidden !important;
}
.ant-table::after{
 content: "";
 margin: 0px -4px 0px 0px;
 pointer-events: none;
  z-index: 2;
  position: absolute;
  inset: 0;
  border-radius: 10px; 
  padding: 3px; 
  background:linear-gradient(90deg,rgba(103, 117, 219, 0.8), rgba(200, 178, 222, 0.8) ); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
          
}
.ant-table-cell{
  
  height: 50px !important;
  width: 80px !important;
  padding: 16px !important;
  border-color:  #E6DCF0 !important;
  border-top: none !important;
  justify-items: center;
  align-items: center;
  position: relative !important;
}
.ant-table-body {
  scrollbar-width: auto;
}
.ant-table-body::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}
.ant-table-wrapper .ant-table-cell-fix-left{
  z-index: 2;
}
.ant-table-body::-webkit-scrollbar-track {
 
  
  margin: 4px !important;
}
.ant-table-layout-fixed table {
  table-layout: auto;
}


.ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(200, 178, 222, 0.6) !important;

  

}

.Breadcrumb-style{
  padding: 4px 0px;
  color: #414141;
  opacity: 40%;
}
.anticon-home{
  font-size: 12px;
  svg{
    font-size: 12px;
    
  }
}


.table-icon1,.table-icon2{
  padding: 8px  4px ;
  
}
.table-icon1{
  svg{
    fill:green !important;
  }

  
 
}
.table-icon2{
  svg{
    fill: rgb(119, 1, 1) !important;
  }
}

 .ant-table-tbody >tr >td{
  border-left: 2px solid #f0f0f0 !important;
  color: #24223e;
  justify-content: center !important;
  align-items: center !important;
  opacity: 80%;
  font-size: 12px;
  font-weight:600;
}
.ant-table-thead>tr{
  background-color: rgba(200, 178, 222, 0.2) !important;
  color: #24223e;
  opacity: 70%;
} 
@media screen and (max-width:800px){
  .ant-table-tbody > tr>td{
    width: 0px !important;
    height: 0px !important;
    border-left: 1px;
  }
  .search-container{
    width: 100px;
  }
 
  
}
.ant-table-thead>tr>th:nth-child(1)
{
  border-radius: 25px 0px 0px 0px !important;
}
.ant-table-thead>tr>th:last-child
{
  border-radius: 0px 25px 0px 0px !important;
}
.trendCartPara{
  background: none !important;
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 12px;
  font-weight: 550;

}
.trendCartTitle{
  color: rgba(0, 0, 0, 0.6) !important;
}
.cartContainer{
  margin-top: 24px;
}

.ant-table-tbody.ant-table-row{
  height: 80px !important;
  padding: 0 !important;
  border-left: 1px;
}
.chart-header{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd;
}



.show-more{
  margin-top: 0px !important;
}
.select-timeperiod-container{
 
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.ant-select-selector{
  border: none !important;
 
}
.ant-select-arrow {
  width: 20px;
    height: 20px;
  svg{
    font-size: 20px;
   
    color: #414141;
    opacity: 60%;
  }
}
.select-timeperiod,
.select-timeperiod2{
  width:196px !important;
  color: #24223e !important;
  font-size: 16px;
  height: 32px !important;
  opacity: 60% !important;
  
 
}
.select-timeperiod{
  font-weight: 400;

}
.select-timeperiod2{
  
  span{
    font-weight: 550 !important;
  }
 
}

.mainSection,
.ImageSection,
.titleSection{
  display: flex;
 
}
.ant-select-selector {
  background: var(--bgPrimary) !important ;
  border-color:  rgba(200, 178, 222, 0.8) !important;
  border-width: 2px;
  box-sizing: border-box !important;
  position: relativ
}
.search-container
{
  background: var(--bgPrimary) !important ;
  outline: 0;
  border-width: 0 0 2px;
  border-radius: 5px !important;
  padding: 8px ;
  border-color: #414141 !important;
  opacity: 25%;
  margin: 0px !important;
  box-sizing: border-box !important;
  position: relative;
  width: 324px !important;
  height: 40px !important;
}
.searchInput
{
  border-color: rgba(200, 178, 222)!important;
  box-shadow: 1px 1px 8px 0px  rgba(200, 178, 222, 0.4) !important;
  opacity: 60% !important;
  color: #24223e !important;
  font-size: 16px !important;
  height: 40px;
  border: 3px;
  border-radius: 10px !important;
  margin-left: 16px;

}
.searchInputFocus{
  border-color: rgba(200, 178, 222)!important;
  opacity: 60% !important;
 
}


.tab-style{
  width: 100% !important;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.ant-segmented{
  border-color: rgba(103, 117, 219, 0.8) !important;
  border-radius: 15px;
}
.ant-segmented-group{
  height: 45px;
  width: 360px !important;
  padding: 8px;
  border-radius: 15px;
 
}
.ant-segmented-item{
  width: 90px !important;
  display: grid;
  justify-content: center;
  align-items: center;
}
.ant-segmented-item-selected{
  background: var(--bgSecondary);
  color: var(--bgPrimary);
  border-radius: 25px;
}
.ant-segmented-item-label{
  background: none;
  color: #414141;
  opacity: 50%;
}
  
.chart-container-box{
  display: flex;
  
}
.chart-container{
  background:none;
  width: 65% !important;
  box-sizing: border-box !important;
  position: relative;
  border: none;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 1px 1px 6px 0px  rgba(200, 178, 222, 0.4) !important;
  
}
.chart-container::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px; 
  padding: 3px; 
  background:linear-gradient(90deg,rgba(103, 117, 219, 0.8), rgba(200, 178, 222, 0.8) ); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
 
   
}
.chart-content{
  display: table-cell;
  vertical-align: middle;
  
}
.search-stock{
  padding: 24px;
}
.chart{
  background: none!important;
  width: 100% !important;
  height: 80% !important;
  
}
.chart-simplified{
  background: none!important;
  width: 100% !important;
  height: 70% !important;
  
}
.simplified-segment{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart-ticker-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #24223e;
  width:100% !important ;
  margin: 0px !important;
  padding: 8px;
  opacity: 90%;
}
.chart-ticker-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container2{
  padding-left: 16px;
  padding-bottom: 16px;
  border-radius: 25px;
}
@media screen and (max-width:800px){
  .sub-container2{
    border-radius: 15px;
    padding-top: 16px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .chart-ticker-title{
    width: 100% !important;
    font-size: 12px;
    font-weight: 600;
  }
}
.CardMetricsTitle,
.CardMetricsTitle2{
  background: none;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.company-profile-style{
  width: 35% !important;
  margin-left: 16px;

 
}
.summary-container{
  overflow-y: scroll;
 margin-right: -8px;
}
.recomendation-section{
  width: 100vw;
  padding-top: 140px !important;
  margin: 0px -32px ;
  
  
}
.Recomendation-container{
  width: inherit;
  display: grid;
  position: relative;
  background: #E6DCF0;


}
.notePara,
.notePara2{
  margin-bottom: 4px !important;
  color: #24223e;
  opacity: 60%;
}
.recommendationDescribtion,
.recommendationPragragh{
  color: #24223e;
  opacity: 70%;
 
 

}
.recommendationPragragh{
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}
.recommendationDescribtion{
  font-size: 12px;
  margin-bottom: 16px;
  font-weight: 550;
}
.notePara2{
  font-size: 12px;
  font-weight: 550;
}
.notePara{
  font-size: 10px;
  margin-left: 16px !important;
}
.iphonePhoto-container{
  background: none !important;
  position: relative !important;
  z-index: 2;
  left: 700px !important;
  top: 280px !important;
  
}
.colChange{
  width:100% !important
}
.colChange2{
  width:50% !important
}
.iphonephoto{
  width: 600px;
  height: 290px;
  background: none !important;
  /*transform: rotateY(180deg);*/
  z-index: 100;
  position: absolute !important;

  
}

.KeyMetricsRow,
.KeyMetricsRow2{ 
  background: none;


 
}
.KeyMetricsRow{
  height: 48px;
  margin-top: 8px;
}
.KeyMetricsRow2{
  margin-top: 8px;
}

.keyMetricsCol,
.keyMetricsCol2,
.keyMetricsCol3,
.keyMetricsColsimple3{
 background:none;

}
.keyMetricsCol3,
.keyMetricsColsimple3{
  height: 48px;
}
.keyMetricsCol{
  padding-right: 16px;
  height: 48px;
}
.keyMetricsCol2,
.keyMetricsCol3,
.keyMetricsColsimple3{
  padding-left: 16px;
}
.numberStyle{
  font-weight: 600 !important;
  font-size: 16px !important;
  opacity: 75%;
}
.metricsPara,
.metricsParasimple{
  font-size: 16px;
  font-weight: 600;
  color: white;
  opacity: 70%;
}
.metricsPara{
  margin: 0px !important;
}
.KeyMetricsDescrib{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);


}
.recomendation-title{
  background: none;
  font-size: 32px;
  padding: 16px 24px;

  
}
.recommendationpara{
  color: rgba(0, 0, 0, 0.6) !important;
  font-weight: 600 !important;

 
}
.recommendationSpan{
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.6);
}
.recomendation-subsection{
  background: inherit;
 height: inherit !important;
}
.progress-container{
  background: none;
  width: 332px;
  margin-right: 24px;
 padding:  16px 24px;

 display: table-cell;
 vertical-align: middle;
}
.ant-progress-outer{
  background: none;
  width: 90% !important;
}
.progress-style{
  background: none;
  
  
}
.ant-progress-text{
  color:#24223e !important;
  opacity: 60%;
  font-weight: 550 !important;
  font-size: 12px !important;
}
.flex-style{
  color: rgba(0, 0, 0, 0.45);
  opacity: 85%;
  display: table-cell;
  vertical-align: middle;
  background: none;
}
.ant-progress-inner {
  width: 228px !important;
}
.ant-progress-bg {
  background: var(--bgSecondary) !important;
}
@media screen and (max-width:1200px){
  .colQuestionSection{
    height: 300px;
  }
  .photoSection_photo2{
    height: 380px !important;
  }
  .LAPphoto-container {
    left: 180px !important;
    top:400px !important;
  }
  .LAPphoto{
    height: 380px !important;
    width: 500px !important;
  }
  .chart-container {
    margin-bottom: 16px;

  }
  .sub-container2 {
    padding-left: 0px;
  }
  .headerTitle {
    font-size: 14vw;
    font-weight: 550;
    text-align: center;
  }
  .slide1 {
    top:24px;
    right: 685px;
    width: inherit;

  }
  .mainHeaderContainer {
    height: 100% !important;
  }
 
  .slide2 {
    top:-96px;
    right: -600px;
    width: inherit;

  }
  .dShapeContainer{
    height: 70% ;
  }
  .HeaderSectionNote2{
    display: none;
   }
  .HeaderSectioncol1{
    width: 100%;
    height: 20vh;

  }
  .HeaderSectioncol2{
    width: 100%;
    height: 20vh;

  }
}
@media screen and (max-width:800px){
  .chart-container-box{
   display: table-cell;
   vertical-align: middle;
   width: inherit;
   
  }
  .select-timeperiod2 {
    width:164px !important;
    display:flex !important;
    justify-content: center !important;
     align-items: center;
  }
  
 
  .company-profile-style{
    width: inherit!important;
   
    margin-left: 0px;
    margin-top: 8px;
  }
  .summary-container{
    height: 224px;
  }
  .chart-container{
    width:100% !important;
    height: 300px!important;
    padding: 8px;
    border-radius: 10px !important;
  }
  .CardMetricsTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .CardMetricsTitle2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  .KeyMetricsRow {
    margin-bottom: 8px;
    margin-top: 0px;
   
  }
  .metricsPara {
    margin-bottom: 8px!important;
    font-size: 14px;
  }
  .metricsParasimple{
    margin-bottom: 4px!important;
    font-size: 14px;
  }
  
  .keyMetricsCol3{
    height: 64px;
    padding-left: 0px;
  }

  .recomendation-section{
    display: flex;
    padding-top: 48px !important;
    margin: 0px -16px;
  }
  .Recomendation-container{
    display: table-cell;
    vertical-align: middle;
  }
  .tab-style{
    padding: 8px;
  }
  .ant-segmented-item{
    width: 50px;
  }
  .chart{
    height: 80% !important;
  }
  .ant-segmented-group{
     width:200px !important;
     height: 32px !important;
     border-radius: 8px;
     padding: 0px;
  }
  .ant-segmented{
    border-radius: 8px;
  }
  .iphonephoto{
    width: 280px;
    height: 200px;
   transform: rotateY(0deg);
   
    
  }
  .iphonePhoto-container{
    align-self: flex-end;
    top:1324px !important;
   left: 8px !important;
  }
  .recomendation-subsection{
    height: 224px;
  }
  .progress-container{
    margin-right: 0px !important;
    padding: 16px !important;
  }
  .searchInput,
  .searchInputFocus  {
    height: 32px !important;
    border-radius: 6px !important;
    width: 100% !important;
   margin: 0px !important;
   font-size: 14px !important;
  }
 
  .ant-select-selector {
    padding: 4px !important;
  }
  .show-type {
    height: 72px;
    width: 100%;
  padding: 0px 0px 0px 16px;
   margin: 0px -16px;
  
  }
  .subshow-type{
    height: 32px !important;
    background: none !important;
  }
 .recomendation-title {
  font-size: 24px;
  padding: 16px;
 }
 .recommendationpara {
  font-weight: 550;
 }
 .recommendationPragragh {
  font-size: 14px;

 }
 .recommendationDescribtion {
  font-weight: 500;
 }
 .ant-progress-text {
  font-size: 10px;
 }
 
}
.LAPphoto-container{
  background: none;
  position: relative;
  left: 670px;
  top: 80px;
 
  
}
.LAPphoto{
  background: none;
  width: 624px;
  height: 574px;
  z-index: 1;
  transform: rotateY(180deg);
  position: absolute;
 
}

.photoSection_photo1{
  background: none !important;
  padding-top: 40px;
  
}
.photoSection_photo2{
  background: none !important;
  padding-left: 32px;
 
}
.photoSection_text,
.photoSection_text1
{
  background: none;
  color: white !important;
}
.photoSection_text1{
 
  opacity: 65%;
  background: var(--bgSecondary) !important;
   -webkit-text-fill-color: transparent !important;
  -webkit-background-clip:text !important; 
  font-size: 16px;
  font-weight:600;
}
.photoSectiontitle{
  font-size: 64px;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 16px;
  color: white;
  opacity: 90%;
}
.photoSectionSubtext1,.photoSectionSubtext2{
  
  opacity: 90%;
  font-size: 24px;
  font-weight:800;
}
.photoSectionSubtext1{
  color: green;

}
.photoSectionSubtext2{
   color: rgb(119, 1, 1); 
 
}

.photoSection_span1,
.photoSection_span2,
.photoSection_span3{
  background: none;
}
.standPhonePhoto{
  width:320px;
  height: 440px;
}
.standPhotoContainer{
  padding-left: 104px;
  padding-top: 96px;
}

.photoSection_span2{
  color: #414141;
  font-size: 24px;
  font-weight: 300;
  
}
.ant-collapse-header,
.ant-collapse-item,
.ant-collapse-expand-icon,
.ant-collapse-content,
.ant-collapse-content-box{
  background: none !important;
  svg{
    background: none !important;
  }
}
.ant-collapse-header .ant-collapse-header-text{
  font-weight: 700;
  font-size: 14px;
  color: #24223e;
  opacity: 90%;
  
}
.ant-collapse-content-box{
  font-weight: 600;
  font-size: 12px;
  color: #24223e;
  opacity: 70%;
  padding-left: 40px !important;
}
.footer {
  background-color:var(--bgthrid);
  height: 350px;
  border-radius: 15px  15px 0px 0px;
 margin-top: 120px;
  padding: 16px;
 
}
.footer-typography{
  color: white !important;
  opacity: 90%;
  padding-bottom: 16px !important;
  margin: 0px !important;
  background: none !important;
  font-weight: 600;
  font-size: 16px;
}
.ant-typography{
  padding: 0px !important;
}
.footer-col1,
.footer-col2,
.footer-col3{
  background: none;
  width: 35%;
}
.footer-col-links-container{
  background: none !important;
  display: flex;
  flex-flow: column wrap;
}
.link-style{
  padding: 8px 0px !important;
  font-size: 14px;
  
  color: var(--bgPrimary);
  opacity: 70%;
}
.newletter-span{
  background:none;
  color:white;
  font-size:10px;
  opacity:40%;
  padding-top: 16px;
}
.footer-col2{
display: table-cell;
vertical-align: middle;
}
.img-logo-container{
  background: none;
  width: 90% !important;
  height: 280px;
}

input{
  background: none !important;
}
.footer-icon{
  background:none;
  flex-flow: column wrap;
  padding-top: 40px;

}
.input-style{
  width: inherit;
  height: 64px;
  border: none;
  border-radius: 10px;
}
.newssetller{
  height: 45px;
  width: 250px;
  margin-bottom: 8px !important;

}
.newsletter-title{
  background: none;
  font-size: 14;

  margin-bottom: 0px !important;
  color: var(--bgPrimary);
  opacity: 70%;
}
.icon-style{
  padding-right: 16px;
  padding-top: 8px;
  svg{
    font-size: 32px !important;
    border-radius: 5px;
    background: var(--bgSecondary);
    opacity: 50%;
  }
 
}
.footer-logo{
  background: none;
  opacity: 50%;
  width: 280px;
  height: 280px;
}
@media screen and (max-width:800px){
  .footer {
    border-radius: 15px  15px 0px 0px;
    padding: 8px;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
  }
  .footer-typography{
    padding-bottom: 4px !important;
  }
  .link-style{
    padding: 6px 0px !important;
    font-size: 12px;
  }
  .footer-col1,.footer-col2{
    padding-bottom: 16px !important;
    width: 100vw !important;
  }
  .newsletter-title {
    width: 100vw !important;
  }
  .newletter-span{
    font-size: 8px;
  }
  .LAPphoto-container{
    padding-top: 24px;
    left: 16px;
    top: 360px;
  }
  .LAPphoto{
    width: 85vw;
    height: 225px;
  }
  .photoSectiontitle{
    font-weight: 800;
    font-size: 6vw;
  }
    .colQuestionSection{
    height: 110px !important;
  }
  .keyMetricsCol2, .keyMetricsCol3 ,.keyMetricsCol {
    padding-right: 8px;
    padding-left: 8px;
    height: 48px !important;
  }
  .keyMetricsColsimple3{
    padding-right: 8px;
    padding-left: 8px;
    height:64px !important;
  }
  .spacecol{
    height: 240px;
  }
  .photoSection_text1{
    font-size: 12px;
  font-weight:700;
  }
  .photoSectionSubtext1,.photoSectionSubtext2{
  
  
    font-size: 16px;
    font-weight:650;
  }
  .photoSection_span2{
    font-size: 14px;
    font-weight: 300;
    
  }
  .photoSection_photo1{
    padding-top: 0px;
    
  }
  .ant-collapse-header .ant-collapse-header-text{
    font-weight: 700;
    font-size: 12px;
    
  }
  .ant-collapse-content-box{
    font-weight: 600;
    font-size: 10px;
    
  }
}